/* .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.banner__container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.banner__container-show {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    animation: mover 10s linear infinite;
}


.banner__continer-img {
    width: 100%;
}

.banner__info_1{
    background: url(../assets/imgs/concepto_papa.png) center / cover no-repeat;
    width: 100%;
    padding: 50px 50px 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 800ms ease-in;
}
.banner__info_2{
    background: url(../assets/imgs/sld__jump.webp) center / cover no-repeat;
    width: 100%;
    padding: 50px 50px 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 800ms ease-in;
}
.banner__info_2 .info_banner{
    backdrop-filter: blur(8px);
    background-color: #00000058;
}
.banner__info_3{
    background: url(../assets/imgs/sld__sportlife_run.webp) center / cover no-repeat;
    width: 100%;
    padding: 50px 50px 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 800ms ease-in;

}

.banner__text{
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 90000;
    font-family: 'Prompt', sans-serif;
    background-color: rgba(4, 240, 240, 0.207);
}
.banner__text p{
    color: #ffff;
    background-color: rgba(19, 20, 20, 0.207);
} */
 
/* transisiones mas suaves */
@keyframes mover{
    32%{
        margin-left: 0%;
    }
    33%{
        margin-left: -100%;
    }
    65%{
        margin-left: -100%;
    }
    66%{
        margin-left: -200%;
    }
    98%{
        margin-left: -200%;
    }
    100%{
        margin-left: 0%;
    }
}



/* Estilo básico para la galería */
figure {
    margin:0;
}
#gallery {
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.gallery-container {
    position: relative;
    width: 100%;
    height: 100%; /* Ajusta la altura al 100% del contenedor principal */
}
.gallery-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ajusta la altura al 100% del contenedor principal */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}.gallery-item img {
    width: 100%;
    height: 100%; /* Asegura que las imágenes llenen el contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
    display: block;
}
.gallery-item.active {
    opacity: 1;
}  
  /* Navegación de la galería */
.gallery-navigation {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}  
.nav-button {
    background-color: rgba(0,0,0, .3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}
.nav-button > span {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}
.nav-button:hover {
    background-color: #005f5f;
}