:root {
    --locutores-width: 100%;
    --locutores-height: 20vh;
    /* --locutores-elements: 8;  */
    --locutores-elements-displayed: 3;
    --locutores-element-width: calc(var(--locutores-width) / var(--locutores-elements-displayed));
    --locutores-animation-duration: calc(var(--locutores-elements) * 3s);
  }


.locutores-section{
    width: 100%;
    height: fit-content;
    background-image: url(../assets/imgs/backgorund_retro-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.locutores-section:before, .locutores-section:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.locutores-section:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
}
.locutores-section:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content-locutores{
    list-style: none;
    height: 100%;
    display: flex;
    animation: locutoresScrolling var(--locutores-animation-duration) linear infinite;
}
@keyframes locutoresScrolling {
    0% { transform: translateX(calc(-1 * var(--locutores-element-width) * var(--locutores-elements))); }
    100% { transform: translateX(0);}
}
.locutores--info{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    
}  
.marquee-content-locutores .card{
    margin-left: 10px;
    padding: 10px;
    min-width: 190px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    white-space: nowrap;
}