.nav__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(5, 5, 17);
    z-index: 100;
    position: sticky;
}
.nav__container img{
    max-width: 150px;
    filter: drop-shadow(
        0 0 0.5rem rgba(208, 255, 0, 0.586)
    );
    transform: scale(1.5);
}
.nav__container h1{
    color: #f2fa00;
    font-size: 32px;
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: italic;
    margin: 0 80px 0 0;
    filter: drop-shadow(
        0 0 0.8rem rgba(208, 255, 0, 0.586)
    );
}
.nav__container ul{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-evenly;
}
.nav__container a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav__container li{
    margin: 0 10px;
    text-decoration: none;
}
.nav__button{
    cursor: pointer;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--fuente_principal);
    cursor: pointer;
    text-decoration: none;
    transition: all .6s;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.nav__button-active{
    color: #ffffff;
    background-color: #0c71d600;
    backdrop-filter: blur(8px);
    background-attachment: fixed;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
}
.nav__button-active i{
    transform: rotate(180deg);
    color: white;
}
.buttom-i{
    transform: rotate(90deg);
}
