.section_2{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem .5rem;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr  1fr 1fr ; 
  gap: 1rem; 
  grid-template-areas: 
    "ads_section"
    "locutores-section"
    "Programas-section"; 
}
.section_2 h2{
  text-align: center;
  color: black;
  margin-top: .5rem;
  margin-bottom: 0;
  font-weight: 800;
}
.Programas-section{
  grid-area: Programas-section;
}
.locutores-section{
  grid-area: locutores-section;
}
.ads_section {
  grid-area: ads_section; 
}

.card {
  width: 200px;
  text-align: center;
  border: transparent;
  border-radius: 1rem;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.card p {
  font-size: .8rem;
  color: #555;
  font-weight: 800;
}
.ads_section{
  max-width: 100%;
  height: fit-content;
  max-height: 350px;
  background-color:transparent;
  border-radius: 1rem;
  overflow: hidden;
}
.ads_section img{
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;

}
@media (max-width:600px){
  .section_2{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}