.section_1{
    width: 100%;
    height: 350px;
    background: url(https://i.pinimg.com/736x/e7/66/86/e76686d11259a2d0d8ae5dc2c1c61025.jpg) center / cover no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    padding: 1rem;
}
.text--section_1{
    max-width: 420px;
    width: 30%;
    align-self: center;
    margin: 0 auto;
    backdrop-filter: blur(9px);
    background-color: rgba(14, 14, 14, 0.835);
    padding:3rem;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    color: white;
}
.player_radio{
    display: flex;
    width: 30%;
    aspect-ratio: 24/9;
    flex-direction: column;
    margin: 0 auto;
    color: white;
    backdrop-filter: blur(19px);
    padding: 0 2rem;
    border-radius: 1rem;
}
.player_radio-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.player_radio-tittle h6{
    background-color: red;
    width: fit-content;
    padding: .3rem;
    border-radius: 2rem;
}
.player_radio img{
    width: 100px;
    transform: scale(2);
    margin-top: 15px;
    margin-right: 15px;
}
.player_radio audio{
    border-radius: 1rem;
    margin: 15px auto;
}
.player_radio-description{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border-left: solid 1px black;
    padding-left: 1rem;

}
.logo_div{
    width: 30%;
    justify-self: start;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.logo_div img{
    width: 40px;
    transform: scale(10);
}
@media (max-width: 1000px){
    .text--section_1 h2{
        font-size: 1.5rem;
    }
}
@media (max-width:600px){
    .section_1{
        height: fit-content;
        flex-direction: column;
        align-items: space around;
        justify-content: space-around;
        padding: 1rem;
    }
    .text--section_1{
        width: 90%;
        margin: 1rem auto;
    }
    .player_radio{
        width: 100%;
        margin: 1rem auto;
    }
    .logo_div{
        width: 100%;
        margin: 4rem auto;
    }
    .logo_div img{
        width: 100px;
        transform: scale(4);
    }
}