.section_2{
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: .8fr .8fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      "locutores-section locutores-section ads_video"
      "Programas-section Programas-section ads_video"; 
    
  .locutores-section { grid-area: locutores-section; }
  .ads_video { grid-area: ads_video; }
  .Programas-section { grid-area: Programas-section; }
}
.section_2 h2{
  text-align: center;
  color: black;
  margin-top: .5rem;
  margin-bottom: 0;
  font-weight: 800;
}
.card {
  width: 210px;
  text-align: center;
  border: transparent;
  border-radius: 1rem;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 1rem;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.card p {
  font-size: .8rem;
  color: #555;
  font-weight: 800;
}
.ads_section{
  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 1rem;
  aspect-ratio: 16/9;
}
.ads_video video{
  border-radius: 1rem;
}
.carousel-item img{
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
@media (max-width:600px){
  .section_2{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}